@font-face {
    font-family: "Wrexham Script V1";
    src: url("https://db.onlinewebfonts.com/t/87f3446bd715401c8cfeb58b6649d2e2.eot");
    src: url("https://db.onlinewebfonts.com/t/87f3446bd715401c8cfeb58b6649d2e2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/87f3446bd715401c8cfeb58b6649d2e2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/87f3446bd715401c8cfeb58b6649d2e2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/87f3446bd715401c8cfeb58b6649d2e2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/87f3446bd715401c8cfeb58b6649d2e2.svg#Wrexham Script V1")format("svg");
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.hero{
    position: relative;
    width: 100%;
    height: 100dvh;
    padding: 0.1px;
    background-image: url(./assets/giro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 45px;
    margin: 20px;
}
.navbar li{
    right: 10px;
    list-style: none;
    margin: 10px;
}
.navbar a{
    color: rgb(185, 139, 67);
}
.herotittle{
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-family: Wrexham Script V1;
    font-size: 11rem;
    color: rgb(233, 175, 82);
    text-shadow: 2px 2px 2px black;
}
.container{
    display: flex;
    flex-direction: column;
}
.container h2{
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-size: 5rem;
    color: rgb(20, 20, 78);
    text-shadow: 4px 4px 5px rgb(36, 36, 36);
    margin: 40px;
}
.containermenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagencomida{
    display: flex;
    flex-direction: row-reverse;
}
.menu{
    width: 400px;
    height: 570px;
    border: 1px solid rgb(145, 140, 140);
}
.nombremenu{
    font-family: 'Noto Serif', serif;
    margin: 15px;
}
.menu p{
    margin: 15px;
}
.volver{
    text-decoration: none;
    color: rgb(20, 20, 78);
    font-size: 26px;
    font-family: Wrexham Script V1;
    margin: 0 20px;
}
.piedepagina{
    width: 100%;
    height: 25dvh;
    background-image: linear-gradient(45deg, #d9c4a9, #91735d);
}